@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  -webkit-overflow-scrolling: touch;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: -68px;
  z-index: -1;
  /* transform: translate3d(0,0,0);   */
}

*{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}